.container642 {
  display: flex;
  justify-content: space-around;
}

.ranking {
  background-color: #efefef;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  text-align: text-center;
  box-shadow: 0 1px 2px #999;
  transform: translateZ(0);
  transition: box-shadow 0.25s ease-in;
  margin-top: 20px;
  &:hover {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    cursor: pointer;
  }
  margin-top: 10px;
  width: 30%;
}

.ranking01 {
  display: flex;
  justify-content: space-around;
}

.container5{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
.card {
  background-color: #efefef;
  width: 300px;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: text-center;
  box-shadow: 0 1px 2px #999;
  transform: translateZ(0);
  transition: box-shadow 0.25s ease-in;
  margin-top: 20px;
  &:hover {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    cursor: pointer;
  }
}

.my_info {
  background-color: #efefef;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  text-align: text-center;
  box-shadow: 0 1px 2px #999;
  transform: translateZ(0);
  transition: box-shadow 0.25s ease-in;
  margin-top: 20px;
  &:hover {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    cursor: pointer;
  }
  margin-top: 10px;
  width: 30%;
}




