

  <div class="container3">

    <div class="card1">
      <h3> <%= @user.first_name %> </h3>
      <p><%= @user.email %></p>
      </div>
      <br><br>

    </div>


<%= link_to "Back to users", users_path %>

</div>
