%h3.text-center All matches in this tournament;
- i = 1
.container09
  - tournament.matche.each do |match|
    .cardmatch
      Match number : #{i}
      - if match.score.nil?
        %br/
        Score: Not played
      - else
        %br/
        Score : #{match.score}
      %br/
      = match.users.first.first_name
      VS
      - if match.users.second.nil?
      - else
        = match.users.second.first_name
      %br/
      %br/
      - i = i + 1
